<span>Lobby</span>
<h3>Hello, {{ username }}.</h3>

<div>
  <h2>New game</h2>

  <form action="{% url 'games:new' %}" method="post">
    {% csrf_token %}
    <fieldset>
      <legend><h1>Select the game mode</h1></legend>

      {% for clock in clocks %}
      <input
        type="radio"
        name="clock"
        id="{{ clock.id }}"
        value="{{ clock.id }}"
        required
      />
      <label for="{{ clock.id }}">{{ clock.name }}</label>
      {% endfor %}

      <input type="submit" value="New game" />
    </fieldset>
  </form>
</div>
